<!DOCTYPE html>
<html lang="en">


<!-- Header-->
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
		<%- include('layouts/navbar'); -%>


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/new-post.jpg')">
            <div class="container position-relative px-4 px-lg-5" style="color:white">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>New Post</h1>
                            <span class="subheading">Start a rant! and... go!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Here's where you can post a new blog post - lets hear it!</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form action="/posts/store" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter the title..." data-sb-validations="required" />
                                    <label for="title">Title</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="body" name="body" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="body">Description</label>
									
									<!-- WYSIWYG Editor -->
									<script>
										$('#body').summernote({
										    placeholder: 'Start typing to create your blog post...',
											tabsize:2,
											height:500,
											callbacks: {
												onInit: function (c) {
													c.editable.html('');
												}
											}
											
											
											
									    });
									</script>
									
                                </div>
                                <br />
								
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
								
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                           
								<!-- Add Image Button -->
								<div class="control-group">
									<div class="form-group floating-label-form-group controls">
									<label>Image</label>
									<input type="file" class="form-control" id="image"
									name="image">
									</div>
								</div>
								<br />
						   
								<!-- Submit Button-->
								<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
		
        <!-- Footer-->
		<%- include('layouts/footer'); -%>

        <!-- Scripts-->
		<%- include('layouts/scripts'); -%>
			
    </body>
</html>
